build/
build93/
build_synth/
*.cf
*.o
*.exe

*.vcd
*.ghw

quartus/db/
quartus/incremental_db/
quartus/output_files/*
!quartus/output_files/fp_adder_de10lite.sof
quartus/simulation/
quartus/greybox_tmp/
quartus/.qsys_edit/
quartus/*.qws
quartus/*.rpt
quartus/*.summary
quartus/*.smsg
quartus/*.done
quartus/*.jdi
quartus/*.pin
quartus/*.sof
quartus/*.pof
quartus/*.qdf
quartus/*.bak

work/
transcript
vsim.wlf
modelsim.ini
*.mti

Thumbs.db
.DS_Store
